._3teZq{padding:50px 0;font-size:2rem;text-align:center}._2nZYN{margin-top:5px}i.P-zbM{font-size:4rem}.zfCch{padding:20px 10px}._3P2EH{font-size:1.5rem}._1GgX_{padding:30px 0 20px}

.HwZaj{position:fixed;top:0;left:0;right:0;padding:5px 0}.Xyc7E{display:flex;justify-content:space-between}._394xs{font-size:1rem;font-weight:bold}.bnxcw{display:flex;align-items:center;justify-content:center}

._3LV-3{font-size:1.5rem;font-weight:800}._3JLXJ{padding:50px 0 20px}.izfMl{display:flex;align-items:center}

._3YawN{font-style:italic;margin-bottom:40px}

._3UqPU{margin-top:10px;margin-bottom:25px}._2PMT5{align-items:center;background:white;border-radius:1px;display:flex;flex:none;flex-direction:column;justify-content:center;margin-bottom:10px;padding:5px;width:calc((100% - 40px) / 3)}._2XEoG{font-size:4rem}

._3rVbW{display:flex;flex-wrap:wrap;justify-content:space-between;margin:auto;width:95%}

._2fBJX{height:100%}._1XzE7{align-items:center;display:flex;height:100%}.DRaIb{height:100%}._3PA54{display:none}.T-AyT{display:flex;justify-content:center;width:100%}@media print{@page{margin:0}.DRaIb{display:none}._3PA54{display:flex;align-items:center;justify-content:center;text-align:center;flex-direction:column;font-size:1.5rem;margin:1.6cm}._3buj2{align-items:center;display:flex;flex:auto;flex-direction:column;padding:30px}._3QZXO{align-items:center;display:flex;justify-content:center;position:relative;width:100%}._1oFvy{width:300px}.PLwCJ{position:absolute;width:80px}.PLwCJ img{height:auto;width:100%}._2F2-r{font-size:1.25rem;font-weight:bold;padding:20px}._3wAyR{font-size:2rem}.FdLCQ{padding:15px}._3aZhy{margin:10px auto}._9IgDg{font-size:1rem}._1SuGT{font-size:4rem;margin:0}}

._3xv3W{margin-bottom:10px;width:100%}._1_1ia{border:1px solid #000;display:flex;margin-bottom:5px;position:relative;width:100%}.CcTWh,._1nPwr{margin-left:10px}._18Bui{font-size:3rem}

html,body,#app{height:100%}body{background:#f5f5f5;margin:0;font-family:'Lato', sans-serif}h1{font-family:'Lobster', serif}h2{font-family:'Permanent Marker', cursive}h5{font-family:'Lora', serif}

