._1r-GT{padding:15px;text-align:center}._1SuP2{height:40px;margin:15px}

._2fBJX{display:flex;align-items:center;justify-content:center;text-align:center;height:100%}._3PA54{display:none}.DRaIb{display:flex;justify-content:center;width:100%}@media print{@page{margin:0}.DRaIb{display:none}._3PA54{display:flex;flex-direction:column;font-size:1.5rem;margin:1.6cm}._3buj2{align-items:center;display:flex;flex:auto;flex-direction:column;padding:30px}._3QZXO{align-items:center;display:flex;justify-content:center;position:relative;width:100%}._1oFvy{width:300px}.PLwCJ{position:absolute;width:80px}.PLwCJ img{height:auto;width:100%}._2F2-r{font-size:1.25rem;font-weight:bold;padding:20px}._3wAyR{font-size:2rem}.FdLCQ{padding:15px}._3aZhy{margin:10px auto}._9IgDg{font-size:1rem}._1SuGT{font-size:4rem;margin:0}}

.ZSd7S{color:red}

html,body,#app{height:100%}body{background:#f5f5f5;margin:0;font-family:Verdana, Arial, sans-serif}

