$blue-gray 			    : #34495e;
$blue-gray-darken 	: #2c3e50;
$blue 				      : #536dfe;
//$blue-darken 		    : #2980b9;
$blue-darken 		    : #536dfe;
$green 				      : #1abc9c;
$green-darken 		  : #16a085;

.breadcrumb {
  margin: 0;
  display: flex;
  list-style:none;

  .icon{
    font-size: 14px;
  }

  li{
    display: flex;
    flex-grow: 1;

    div{
      color: #FFF;
      display: block;
      background: $blue;
      text-decoration: none;
      position:relative;
      height: 40px;
      line-height:40px;
      padding: 0 10px 0 5px;
      text-align: center;
      margin-right: 23px;
      flex-grow: 1;
    }
    &:nth-child(even){
      div{
        background-color: $blue-darken;

        &:before{
          border-color:$blue-darken;
          border-left-color:transparent;
        }
        &:after{
          border-left-color:$blue-darken;
        }
      }
    }
    &:first-child{
      div{
        padding-left:15px;
        //border-radius: 4px 0 0 4px;
        &:before{
          border:none;
        }
      }
    }
    &:last-child{
      div{
        margin-right: 0;
        padding-right:15px;
        //border-radius: 0 4px 4px 0;
        &:after{
          border:none;
        }
      }
    }

    div{
      &:before,
      &:after{
        content: "";
        position:absolute;
        top: 0;
        border:0 solid $blue;
        border-width:20px 10px;
        width: 0;
        height: 0;
      }
      &:before{
        left:-20px;
        border-left-color:transparent;
      }
      &:after{
        left:100%;
        border-color:transparent;
        border-left-color:$blue;
      }
      &:focus,
      &:active {
        outline: none;
      }
      //&:hover{
      //  background-color: $green;
      //
      //  &:before{
      //    border-color:$green;
      //    border-left-color:transparent;
      //  }
      //  &:after{
      //    border-left-color:$green;
      //  }
      //}
      //&:active{
      //  background-color: $green-darken;
      //
      //  &:before{
      //    border-color:$green-darken;
      //    border-left-color:transparent;
      //  }
      //  &:after{
      //    border-left-color:$green-darken;
      //  }
      //}
    }
  }
}

.active {
  font-weight: bold;
}

.disabled {
  opacity: .5;
}

.icon {
  font-size: 1rem;
}
