:global {
  .chip {
    display: block !important;
  }
}

.products-chips {
  position: relative;
  width: 100%;

  input.chips-input {
    font-size: 17px;
    width: 100% !important;
  }
}

div.chips-submit {
  margin-top: 25px;
}

.products {
  font-size: 1.5rem;
}

