.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -5px;
}

.categories-description {
  font-size: 1.25rem;
}

.category-item {
  align-items: center;
  background: white;
  border-radius: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin: 5px;
  padding: 20px;
  width: 110px;
}

.name {
  padding-top: 15px;
}

.item-icon {
  font-size: 4rem;
}
