.tabs {
  position: fixed;
  left: 0;
  right: 0;
  top: 90px;
  z-index: 10;
}

.tabs-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.tab {
  flex-grow: 1;
  text-align: center;
  border-bottom: 5px solid #536dfe;
}

.tab-link {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  justify-content: center;
}

.tab-icon {
  font-size: 2rem;
}

.tab-active {
  border-bottom: 5px solid #fff;
}

.screen-reader {
  display: none;
}
