.header-title {
  font-size: 1.5rem;
  font-weight: 800;
}

.header-wrapper {
  padding: 50px 0 10px;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.container {
  display: flex;
  align-items: center;
}
